# Distribution / packaging
__pycache__/
*.py[cod]
**/.DS_Store
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.awsenv
.env

# Serverless directories
.serverless
